// display: grid;
// grid-template-rows: repeat(3, 10rem);
// grid-template-columns: repeat(4, 1fr);

// @media only screen and (min-width: $bp-large) {
//   grid-template-rows: 10rem 1fr 1fr;
//   grid-template-columns: repeat(12, 1fr);
// }

// css grid mobile first
.header {
  display: grid;
  grid-template-areas: 'mobImg mobImg mobImg mobImg';

  grid-template-rows: repeat(3, minmax(20rem, auto));
  grid-template-columns: repeat(4, 1fr);

  // css grid for Large screen
  @media only screen and (min-width: $bp-large) {
    display: grid;
    grid-template-areas:
      'videoBg videoBg videoBg videoBg videoBg videoBg videoBg videoBg videoBg videoBg videoBg videoBg'
      ' overlay overlay overlay overlay overlay overlay overlay overlay';

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &__mobImg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/phone/solarHouse.jpg);
    background-size: cover;
    grid-area: mobImg;
    grid-row: 1 / -1;
  }

  &__video {
    display: none;
    //   grid-row: 1;
    //   grid-column: 1 / -1; //till the end use -1
    //   width: 100%;

    @media only screen and (min-width: $bp-large) {
      grid-area: videoBg;
      //     grid-row: 1 / 2;
      //     grid-column: 1 / -1; //till the end use -1
      //     width: 100%;
      //     object-fit: cover;
    }
  }
  // @media only screen and (min-width: $bp-large) {
  &__background-overlay {
    background: url(../img/grid-70.png);
    z-index: 10;
    grid-area: overlay;
    grid-row: 1 / -1;
  }

  &__topTitle {
    grid-area: topTitle;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.6rem;
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: center;
    letter-spacing: 0.25rem;
    z-index: 10; //nested

    @media only screen and (min-width: $bp-large) {
      font-size: 4rem;
      grid-row: 2;
      grid-column: 3 / 7;
      align-self: center;
    }
  }

  &__title {
    font-size: 5rem;
  }
  &__horizontal {
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(
      to right,
      #0e9402,
      rgba(255, 255, 255, 0.678),
      rgba(204, 204, 204, 0)
    );
  }

  &__turbines {
    display: none;
    // grid-row: 1;
    // grid-column: 2 / 4;

    @media only screen and (min-width: $bp-large) {
      grid-row: 2;
      grid-column: 7 / 11;
      z-index: 11; //nested
      max-width: 100%;
    }
  }
}
