$primary-color: #84a60a;
$secondary-color: #8dc63f;

$white-color: #fff;
$accent-color: #303030;
$accent-color-light: #a4a4a4;

// FONT
$default-font-size: 1.6rem;

// Main Menu
$size: 2rem;
$sizeBig: 5rem;
$items: 5;
$transition: 0.5s;
$bounce: cubic-bezier(0.3, 1.4, 0.5, 0.9);
$color-inner: #ffff00;
$color-outer: #f6e667;
$background: mix($color-inner, $color-outer);
$black: shade($color-outer, 80%);
$start-scale: 0.5;
$start-rot: 190deg;

// RESPONSIVE BREAKPOINTS
$bp-small: 37.5em; // 600px;
$bp-medium: 50em; // 800px;
$bp-large: 62.5em; // 1000px
$bp-largest: 75em; // 1200px
